$breakpoints: ('small' : (min-width: 540px),
  'medium': (min-width: 720px),
  'large': (min-width: 960px),
  'huge': (min-width: 1140px),
);

@keyframes opacidad {
  0% {
    opacity: 100%;
  }

  50% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}