/* Base Typography*/
h1 {
  font-family: $raleway;
  font-weight: $bold;
  @include relative-converter(font-size, rem, $xxxx-large, 16);
}

h2 {
  font-family: $raleway;
  font-weight: $bold;
  @include relative-converter(font-size, rem, $xx-large, 16);
}

h3 {
  font-family: $raleway;
  font-weight: $bold;
  @include relative-converter(font-size, rem, $large, 16);
}

h4 {
  font-family: $raleway;
  font-weight: $regular;
  @include relative-converter(font-size, rem, $medium, 16);
}

h5,
p {
  font-family: $raleway;
  font-weight: $regular;
  @include relative-converter(font-size, rem, $small, 16);
}

h6 {
  font-family: $open-sans;
  font-weight: $regular;
  @include relative-converter(font-size, rem, $x-small, 16);
  color: $raising-black;
}

li {
  @include relative-converter(font-size, rem, $small, 16);
  font-family: $open-sans;
  color: $nickel;
}