/* Reset*/
body {
  margin: 0; }

/* Base Typography*/
h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 50px; }

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 30px; }

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 20px; }

h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px; }

h5,
p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px; }

h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #221d23; }

li {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #0a0a0a; }

.header {
  background-image: url("../img/bg-hero.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  padding-bottom: 10rem;
  margin-top: 150px; }

.header__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

.header__grid-text {
  text-align: left; }

.footer {
  background-color: #221d23;
  color: #e8e8e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3% 0%; }

.footer__links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  text-align: center; }
  .footer__links a {
    text-decoration: none;
    color: #e8e8e8; }

.footer__copyright {
  text-align: center;
  color: #e8e8e8; }

.features .features__title {
  text-align: center; }
.features .features__flexbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2%; }
  .features .features__flexbox-container .features__item {
    max-width: 500px;
    margin-bottom: 5%; }
  .features .features__flexbox-container .features__item-right {
    padding: 0px 30% 0px 0px; }

.prices {
  background-image: url("../img/bg-price.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5%; }
  .prices .prices__title {
    text-align: center;
    margin-top: 220px;
    color: #fff; }
  .prices .cards__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .prices .cards__container .card {
      margin: 50px;
      border-radius: 0px; }
      .prices .cards__container .card .card-body {
        height: 430px; }
        .prices .cards__container .card .card-body:hover {
          -webkit-box-shadow: 7px 9px 2px 1px rgba(0, 0, 0, 0.2);
                  box-shadow: 7px 9px 2px 1px rgba(0, 0, 0, 0.2);
          cursor: pointer; }
        .prices .cards__container .card .card-body .card__title {
          font-weight: 400; }
        .prices .cards__container .card .card-body .boton__price-1 {
          position: relative;
          top: 140px; }

.navigation__boton {
  border-radius: 0px;
  background-color: #2ab7ca;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 700; }
  .navigation__boton:hover {
    background-color: #77d1dd;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 700; }
  .navigation__boton:focus {
    background: #c7c8cc;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 700; }

.card__boton-prices {
  border-radius: 0px;
  background-color: #2ab7ca;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  width: 245px; }
  .card__boton-prices:hover {
    background-color: #77d1dd;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 700; }
  .card__boton-prices:focus {
    background: #c7c8cc;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 700; }

/*# sourceMappingURL=main.css.map */